* {
  padding: 0;
  margin: 0;
  font-family: 'Monserrat', sans-serif;
}

p {
  font-size: 1em;
  font-weight: 400;
}

.logo {
  min-height: 25px;
  width: 20%;
  background-image: url("/desktop/Mezcal_logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 3% auto;
}

.top {
  display: flex;
  justify-content: center;
}

.footer-graphic {
  height: 14%;
  width: 100vw;
  text-align: center;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  .graphic {
      height: 100%;
      background-image: url("/desktop/mezcal_footer.png");
      background-repeat: no-repeat;
      background-size: 100vw;
      background-position: left bottom;
  }
}




